<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378349837326-ejanb0bh7rkijpb7s8imvp26us39hb5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378349837326-ejanb0bh7rkijpb7s8imvp26us39hb5l</string>
	<key>API_KEY</key>
	<string>AIzaSyBWVIl38GfTJ3kCqeJ8_BDAe3WaxALc8Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>378349837326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anafin.analisisfinanciero.app</string>
	<key>PROJECT_ID</key>
	<string>analisis-financiero-anafin</string>
	<key>STORAGE_BUCKET</key>
	<string>analisis-financiero-anafin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378349837326:ios:02aa1bddde2cabf1ba305f</string>
</dict>
</plist>